<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Simrail Multiplayer Map - A visual representation of the Simrail game. Allows you to watch trains in real-time and explore the game's world." />
    <meta name="keywords" content="simrail multiplayer map, simrail map, simrail online, simrail multiplayer, train game, simulation game, railway game, train simulator, multiplayer train game" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Simrail Team" />
    <meta property="og:title" content="Simrail Multiplayer Map" />
    <meta property="og:description" content="Simrail Multiplayer Map - A visual representation of the Simrail game. Allows you to watch trains in real-time and explore the game's world." />
    <meta property="og:image" content="<%= BASE_URL %>icon.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= BASE_URL %>" />
    <link rel="icon" href="<%= BASE_URL %>icon.png" />
    <title>Simrail Map</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css"
    />
    <script defer src="https://umami.honex.life/script.js" data-website-id="e7eadee3-560e-4b92-8574-2cbac30f209b"></script>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but Simrail Map doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>

