<template>
  <div>
    <div class="overlay">
      <searchComponent
        v-if="!trackedObject"
        :trains="trains"
        :stations="stations"
        @trackObject="handleSearchClick"
      />
      <trackCard
        v-if="trackedObject"
        :trackedObject="trackedObject"
        :trainInfo="trainInfo"
        :trainTimetable="trainTimetable"
        @close="trackedObject = null"
      />
    </div>
    <div class="overlay-bottom">
      <v-btn
        v-if="!options"
        @click="options = true"
        color="primary"
        fab
        x-small
      >
        <v-icon>mdi-cog</v-icon>
      </v-btn>
      <v-card
        v-if="options"
        max-width="calc(100vw - 20px)"
        width="520"
        max-height="calc(100vh - 150px)"
      >
        <v-toolbar dark color="primary">
          <v-toolbar-title>Options</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn @click="options = false" fab x-small
            ><v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <v-slider
            v-model="scale"
            label="Icon scale"
            :max="100"
            :min="10"
            step="1"
            thumb-label
          ></v-slider>
          <v-checkbox
            v-model="showMapPopups"
            label="Show map popups"
          ></v-checkbox>
        </v-card-text>
      </v-card>
    </div>
    <l-map
      v-if="mapReady"
      style="height: calc(100vh - 64px)"
      :zoom="zoom"
      :center="center"
      ref="map"
    >
      <l-tile-layer :url="url" :attribution="attribution" />
      <l-marker
        v-for="station in stations"
        @click="trackObject(station, 'station')"
        :key="station.id"
        :lat-lng="station.position"
      >
        <l-icon :icon-anchor="staticAnchor">
          <img
            class="station-marker"
            :style="getScaleStyle()"
            :src="
              station.dispatcher ? station.dispatcher.avatar : stationIconUrl
            "
            alt=""
          />
        </l-icon>
        <l-popup v-if="showMapPopups">{{ station.name }}</l-popup>
      </l-marker>
      <l-marker
        v-for="train in trains"
        @click="trackObject(train, 'train')"
        :key="train.id"
        :lat-lng="train.position"
      >
        <l-icon :icon-anchor="staticAnchor">
          <div class="train-box">
            <v-icon
              v-if="train.velocity > 5"
              :style="
                getIconStyle(train) + `font-size: ${scale + 10}px !important;`
              "
              class="train-icon"
              >mdi-navigation</v-icon
            >

            <img
              class="train-marker"
              :style="getTrainStyle(train) + getScaleStyle()"
              :src="train.driver ? train.driver.avatarfull : trainIconUrl"
              alt=""
            />
          </div>
        </l-icon>
        <l-popup v-if="showMapPopups"
          >{{ train.name }} - {{ train.number }}</l-popup
        >
      </l-marker>
    </l-map>
  </div>
</template>

<script>
import { LMap, LTileLayer, LMarker, LIcon, LPopup } from "vue2-leaflet";
import axios from "axios";
import searchComponent from "@/components/searchComponent.vue";
import trackCard from "@/components/trackCard.vue";
import Sentry from "@sentry/vue";
export default {
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LIcon,
    LPopup,
    searchComponent,
    trackCard,
  },
  data() {
    return {
      url: "https://api.mapbox.com/styles/v1/domiibunn/cloxem08w00zk01qy61i329pl/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoiZG9taWlidW5uIiwiYSI6ImNrbjI0OXpsbTEzd3oydnQ3MjA4NDBlczEifQ.hYcZlIEhjO_hbj74y2U-0A",
      attribution:
        '&copy; <a target="_blank" href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      zoom: 7,
      center: [51.9194, 19.1451],
      stations: [],
      scale: 25,
      trains: [],
      interval: null,
      stationIconUrl: "/station.png",
      trainIconUrl: "/train.png",
      mapReady: false,
      trackedObject: null,
      trainInfo: null,
      tab: 0,
      search: "",
      options: false,
      showMapPopups: false,
      showSearch: false,
      trainTimetable: null,
      staticAnchor: [20, 20],
      errorCount: 0,
    };
  },
  props: {
    server: {
      type: String,
    },
  },
  mounted() {
    this.$nextTick(() => {
      this.mapReady = true;
      this.getData();
      this.interval = setInterval(this.getData, 1000);
    });
    console.log(this.scale);
  },
  beforeDestroy() {
    clearInterval(this.interval);
  },
  watch: {
    server() {
      this.getData();
    },
    scale() {
      localStorage.scale = this.scale;
    },
  },
  methods: {
    getScaleStyle() {
      return `height: ${this.scale}px; width: ${this.scale}px;`;
    },
    async getData() {
      if (!this.server) {
        setTimeout(() => {
          this.getData();
        }, 100);
        return;
      }

      axios
        .all([
          axios.get(`/api/stations/${this.server}`),
          axios.get(`/api/trains/${this.server}`),
        ])
        .then(
          axios.spread((stationsResponse, trainsResponse) => {
            this.stations = stationsResponse.data;
            this.trains = trainsResponse.data;
            if (this.trackedObject && this.trackedObject.type === "train") {
              this.trainInfo = this.trains.find(
                (train) => train.id === this.trackedObject.object.id
              );
              if (this.trainInfo) {
                this.center = this.trainInfo.position;
              } else {
                this.trackedObject = null;
              }
              this.errorCount = 0;
            }
          })
        )
        .catch((error) => {
          this.$toast("Error while fetching data. Reconnecting...", {
            type: "error",
          });
          if (this.errorCount === 5) {
            Sentry.captureException(error);
          }
          this.errorCount++;
        });
    },
    handleSearchClick(data) {
      this.trackObject(data.object, data.type);
    },
    trackObject(object, type) {
      this.trackedObject = { object, type };
      this.zoom = 13;
      this.center = object.position;
      this.search = "";
      this.showSearch = false;
      if (type === "train") {
        this.trainInfo = object;
        this.trainTimetable = [];
        this.getTrainTimetable();
      }
    },
    getSignalColor(signal) {
      switch (true) {
        case signal < 5:
          return "red";
        case signal < 80:
          return "yellow";
        default:
          return "green";
      }
    },

    getTrainTimetable() {
      axios
        .get(`/api/timetables/train/${this.trainInfo.number}`)
        .then((response) => {
          this.trainTimetable = response.data;
        });
    },

    getTrainStyle(train) {
      return `box-shadow: 0px 0px 4px 4px ${this.getSignalColor(
        train.velocity
      )}; `;
    },
    getIconStyle(train) {
      return `transform: rotate(${
        train.direction
      }deg) translate(0, -100%) scale(0.5) ; color: ${this.getSignalColor(
        train.velocity
      )}; z-index: -1; text-shadow: 0px 0px 6px 3px ${this.getSignalColor(
        train.velocity
      )};`;
    },
  },
};
</script>

<style>
.overlay {
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 1000;
  padding-left: 10px;
}

.overlay-bottom {
  position: absolute;
  bottom: 20px;
  right: 10px;
  z-index: 1000;
  padding-left: 10px;
}

.overflow-y-auto {
  overflow-y: auto;
  max-height: calc(100vh - 500px);
  overflow-x: hidden;
}

.station-marker {
  box-shadow: 0px 0px 4px 4px rgba(145, 126, 224, 1);
  background-color: rgb(150, 150, 150);
}

.train-marker {
  border-radius: 50%;
}

.train-box {
  position: relative;
}

.train-icon,
.train-marker {
  position: absolute;
  top: 0;
}

/* .leaflet-marker-pane > * {
  transition: transform 11s linear;
} */
</style>
