<template>
  <v-card
    v-if="showSearch"
    width="520"
    max-width="calc(100vw - 20px)"
    max-height="calc(100vh - 150px)"
  >
    <v-toolbar dark color="primary">
      <v-toolbar-title>Find</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn @click="showSearch = false" fab x-small
        ><v-icon>mdi-close</v-icon>
      </v-btn>
    </v-toolbar>
    <v-card-text>
      <v-data-table
        :headers="headers"
        :items="tableItems"
        :search="search"
        item-key="id"
        @click:row="trackObject($event)"
        ><template v-slot:top>
          <v-text-field
            v-model="search"
            label="Search"
            class="mx-4"
          ></v-text-field>
        </template>
        <template v-slot:[`item.playerImage`]="{ item }">
          <v-list-item v-if="item.playerImage">
            <v-list-item-avatar>
              <v-img :src="item.playerImage"></v-img>
            </v-list-item-avatar>
          </v-list-item>
        </template>
      </v-data-table>
    </v-card-text>
  </v-card>
  <v-btn v-else @click="showSearch = true" fab color="primary">
    <v-icon>mdi-magnify</v-icon>
  </v-btn>
</template>

<script>
export default {
  name: "searchComponent",
  data: () => ({
    showSearch: false,
    search: "",
    headers: [
      {
        text: "Name",
        align: "start",
        value: "name",
      },
      { text: "", value: "playerImage", sortable: false, align: "center" },
      { text: "Player", value: "playerName", align: "start" },
    ],
  }),
  props: {
    trains: {
      type: Array,
    },
    stations: {
      type: Array,
    },
  },
  methods: {
    trackObject(object) {
      console.log(object);
      this.$emit("trackObject", {
        object: object.object,
        type: object.type,
      });
    },
  },
  computed: {
    tableItems() {
      let items = [];

      this.trains.forEach((train) => {
        items.push({
          id: train.id,
          type: "train",
          name: `${train.name} - ${train.number}`,
          playerImage: train.driver ? train.driver.avatarfull : "",
          playerName: train.driver ? train.driver.personaname : "",
          object: train,
        });
      });

      this.stations.forEach((station) => {
        items.push({
          id: station.id,
          type: "station",
          name: station.name,
          playerImage: station.dispatcher ? station.dispatcher.avatarfull : "",
          playerName: station.dispatcher ? station.dispatcher.personaname : "",
          object: station,
        });
      });

      return items;
    },
  },
};
</script>

<style lang="scss" scoped></style>
