<template>
  <v-list-item v-if="useAltSignal()">
    <v-list-item-avatar>
      <v-img
        :src="`/signals/${getSignalAspect(signal.speed, signal.name)}.png`"
      />
    </v-list-item-avatar>
    <v-list-item-content>
      <v-list-item-title>Next Signal: </v-list-item-title>
      <v-list-item-subtitle
        >{{ signal.name }} in
        {{ signal.distance / 1000 }}
        km</v-list-item-subtitle
      >
    </v-list-item-content>
  </v-list-item>
  <v-list-item v-else-if="signal.distance > 0">
    <v-list-item-avatar>
      <v-icon :color="getSignalColor(signal.speed)">mdi-traffic-light</v-icon>
    </v-list-item-avatar>
    <v-list-item-content>
      <v-list-item-title>Next Signal: </v-list-item-title>
      <v-list-item-subtitle
        >{{ signal.name }} in
        {{ signal.distance / 1000 }}
        km</v-list-item-subtitle
      >
    </v-list-item-content>
  </v-list-item>
</template>

<script>
export default {
  name: "signalAspect",
  props: {
    signal: Object,
  },
  data() {
    return {
      altSignals: ["L4"],
    };
  },
  methods: {
    useAltSignal() {
      return false;
      // return this.altSignals.includes(this.signal.name.split("_")[0]);
    },
    getSignalColor(speed) {
      if (speed < 5) {
        return "green";
      } else if (speed < 10) {
        return "orange";
      } else {
        return "red";
      }
    },
    getSignalAspect(speed, name) {
      speed = Math.floor(speed / 100);
      console.log(this.signal);
      switch (name) {
        case "L4":
          if (speed > 90) {
            return "sbl_3k_Ggg";
          }
          if (speed > 10) {
            return "sbl_3k_ggO";
          }
          return "sbl_3k_gRg";

        default:
          break;
      }
    },
  },
};
</script>

<style lang="scss" scoped></style>
