<template>
  <div>
    <v-img
      alt="Station"
      :src="trackedObject.object.images[0]"
      height="200"
    ></v-img>
    <v-card-text>
      <v-list>
        <v-list-item v-if="trackedObject.object.dispatcher">
          <v-list-item-avatar>
            <v-img :src="trackedObject.object.dispatcher.avatarfull"></v-img>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>Dispatcher</v-list-item-title>
            <v-list-item-subtitle>
              <a
                :href="trackedObject.object.dispatcher.profileurl"
                target="_blank"
                rel="noopener noreferrer"
                style="text-decoration: none; color: inherit"
                >{{ trackedObject.object.dispatcher.personaname }}
                <v-icon>mdi-open-in-new</v-icon></a
              >
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item v-else>
          <v-list-item-avatar>
            <v-img alt="Bot" :src="stationIconUrl"></v-img>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>Dispatcher</v-list-item-title>
            <v-list-item-subtitle
              >Bot</v-list-item-subtitle
            ></v-list-item-content
          >
        </v-list-item>
      </v-list>
    </v-card-text>
  </div>
</template>

<script>
export default {
  data() {
    return {
      stationIconUrl: "/station.png",
    };
  },
  props: {
    trackedObject: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped></style>
