<template>
  <v-card
    width="520"
    max-width="calc(100vw - 20px)"
    max-height="calc(100vh - 150px)"
  >
    <v-toolbar dark color="primary">
      <v-toolbar-title v-if="trackedObject.type === 'station'">{{
        trackedObject.object.name
      }}</v-toolbar-title>
      <v-toolbar-title v-if="trackedObject.type === 'train'"
        >{{ trackedObject.object.name }} -
        {{ trackedObject.object.number }}
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn class="mr-2" @click="minimized = !minimized" fab x-small
        ><v-icon>{{
          minimized ? "mdi-chevron-up" : "mdi-chevron-down"
        }}</v-icon>
      </v-btn>

      <v-btn @click="close" fab x-small><v-icon>mdi-close</v-icon> </v-btn>
    </v-toolbar>
    <stationCard
      v-if="!minimized && trackedObject.type === 'station'"
      :trackedObject="trackedObject"
    />
    <trainCard
      v-if="!minimized && trackedObject.type === 'train'"
      :trackedObject="trackedObject"
      :trainInfo="trainInfo"
      :trainTimetable="trainTimetable"
    />
  </v-card>
</template>

<script>
import stationCard from "./stationCard.vue";
import trainCard from "./trainCard.vue";
export default {
  name: "trackCard",
  components: {
    stationCard,
    trainCard,
  },
  props: {
    trackedObject: {
      type: Object,
      required: true,
    },
    trainInfo: Object,
    trainTimetable: Array,
  },
  data() {
    return {
      minimized: false,
    };
  },
  methods: {
    close() {
      console.log("close");
      this.$emit("close", true);
    },
  },
};
</script>

<style lang="scss" scoped></style>
