<template>
  <div>
    <trainImage :train="trackedObject.object" />
    <v-card-text>
      <v-tabs v-model="tab">
        <v-tab>Info</v-tab>
        <v-tab>Stock</v-tab>
        <v-tab>Timetable</v-tab>
      </v-tabs>
      <div v-if="tab === 0">
        <v-list>
          <v-list-item v-if="trainInfo.driver">
            <v-list-item-avatar>
              <v-img :src="trainInfo.driver.avatarfull"></v-img>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>Driver</v-list-item-title>
              <v-list-item-subtitle>
                <a
                  :href="trainInfo.driver.profileurl"
                  target="_blank"
                  rel="noopener noreferrer"
                  style="text-decoration: none; color: inherit"
                  >{{ trainInfo.driver.personaname }}
                  <v-icon>mdi-open-in-new</v-icon></a
                >
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
          <v-list-item v-else>
            <v-list-item-avatar>
              <v-img alt="Bot" :src="trainIconUrl"></v-img>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>Driver</v-list-item-title>
              <v-list-item-subtitle
                >Bot</v-list-item-subtitle
              ></v-list-item-content
            >
          </v-list-item>

          <v-list-item>
            <v-list-item-avatar>
              <v-icon>mdi-gauge</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>Speed: </v-list-item-title>
              <v-list-item-subtitle
                >{{ trainInfo.velocity }} km/h</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-avatar>
              <v-icon>mdi-relation-zero-or-many-to-one</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-subtitle>
                From: {{ trainInfo.stations.start }} <br />
                To: {{ trainInfo.stations.end }}</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-avatar>
              <v-icon :color="getDelayColor(trainInfo.delay)">mdi-clock</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>Delay: </v-list-item-title>
              <v-list-item-subtitle
                >{{ trainInfo.delay }} min</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
          <signalAspect :signal="trainInfo.nextSignal" />
        </v-list>
      </div>
      <div v-if="tab === 1">
        <v-list dense class="overflow-y-auto">
          <v-list-item v-for="(stock, index) in trainStock" :key="index">
            <v-list-item-avatar>
              <v-icon>mdi-train</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>{{ stock.type }}</v-list-item-title>
              <v-list-item-subtitle>
                {{ stock.model }}
                <span v-if="stock.count > 1"> ({{ stock.count }})</span>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </div>
      <div v-if="tab === 2" class="overflow-y-auto">
        <v-timeline dense>
          <v-timeline-item
            v-for="(entry, index) in trainTimetable"
            :key="index"
            :color="getStopColor(entry.stopType)"
            small
          >
            <v-row>
              <v-col cols="3">
                <strong>{{ entry.nameForPerson }}</strong>
              </v-col>
              <v-col>
                {{
                  `${
                    entry.arrivalTime
                      ? returnPrettyTime(entry.arrivalTime)
                      : "---"
                  }`
                }}
                <v-icon color="green">mdi-import</v-icon>
              </v-col>
              <v-col>
                {{
                  `${
                    entry.departureTime
                      ? returnPrettyTime(entry.departureTime)
                      : "---"
                  }`
                }}
                <v-icon color="red">mdi-export</v-icon>
              </v-col>
            </v-row>
          </v-timeline-item>
        </v-timeline>
      </div>
    </v-card-text>
  </div>
</template>

<script>
import trainImage from "./trainImage.vue";
import signalAspect from "./signalAspect.vue";
import moment from "moment";

export default {
  name: "trainCard",
  components: {
    trainImage,
    signalAspect,
  },
  props: {
    trackedObject: Object,
    trainInfo: Object,
    trainTimetable: Array,
  },
  data: () => ({
    tab: 0,
    trainIconUrl: "/train.png",
  }),
  computed: {
    trainStock() {
      //  array of [ { "type": "4E", "model": "EU07", "fullString": "4E/EU07-241" }]
      // add number of vehicles of the same type and remove duplicates
      if (!this.trainInfo.vehicles) return [];
      const vehicles = this.trainInfo.vehicles.reduce((acc, vehicle) => {
        const existingVehicle = acc.find((v) => v.type === vehicle.type);
        if (existingVehicle) {
          existingVehicle.count++;
        } else {
          acc.push({
            type: vehicle.type,
            model: vehicle.model,
            fullString: vehicle.type + "/" + vehicle.model,
            count: 1,
          });
        }
        return acc;
      }, []);
      return vehicles;
    },
  },
  methods: {
    getDelayColor(delay) {
      switch (true) {
        case delay < 5:
          return "green";
        case delay < 10:
          return "yellow";
        default:
          return "red";
      }
    },
    getStopColor(stop) {
      switch (stop) {
        case "CommercialStop":
          return "purple";
        case "NoStopOver":
          return "green";
        case "NoncommercialStop":
          return "blue";
        default:
          return "red";
      }
    },
    returnPrettyTime(time) {
      return moment(time).format("HH:mm");
    },
  },
};
</script>

<style lang="scss" scoped></style>
