<template>
  <v-img
    alt="Train"
    :src="`/trains/${getTrainImage(train)}`"
    height="200"
  ></v-img>
</template>

<script>
import * as Sentry from "@sentry/vue";

export default {
  props: {
    train: {
      type: Object,
      required: true,
    },
  },
  methods: {
    getTrainImage() {
      const type = this.train.vehicles[0]?.type?.toLowerCase();
      if (!type) {
        Sentry.captureMessage(
          "Train has no vehicles: " + JSON.stringify(this.train)
        );
        console.error("Train has no vehicles: ", this.train);
        return "/train_bg.jpg";
      }
      switch (type) {
        case "pendolino":
          return "/pendolino.png";
        case "dragon2":
          return "/dragon2.png";
        case "4e":
          return "/4e.png";
        case "traxx":
          return "/traxx.png";
        case "201e":
          return "/201e.png";
        case "en57":
          return "/en57.png";
        case "elf":
          return "/elf.png";
        default:
          Sentry.captureMessage("Unknown train type: " + type);
          console.error("Unknown train type: " + type);
          return "/train_bg.jpg";
      }
    },
  },
};
</script>

<style lang="scss" scoped></style>
