<template>
  <v-app>
    <v-app-bar style="z-index: 1000" app color="primary" dark>
      <v-btn
        href="https://banichimu.live/@domiibunn"
        target="_blank"
        class="mx-4"
        fab
        x-small
        color="secondary"
      >
        <v-img src="/flower.png" contain :height="20" :width="20"></v-img>
      </v-btn>
      <v-toolbar-title class="white--text">Simrail Map</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-select
        v-model="server"
        :items="servers"
        item-text="name"
        item-value="code"
        label="Select server"
        style="max-width: 200px"
        hide-details
        solo
        class="mx-4"
      ></v-select>
      <v-btn href="https://gitlab.com/simrail1" target="_blank">
        <v-icon>mdi-gitlab</v-icon>
        Gitlab
      </v-btn>
    </v-app-bar>

    <v-main>
      <router-view :server="server" />
    </v-main>
  </v-app>
</template>

<script>
import axios from "axios";
export default {
  name: "App",

  data: () => ({
    servers: [],
    interval: null,
    server: "",
  }),
  methods: {
    getServers() {
      axios.get("/api/servers").then((response) => {
        this.servers = response.data;
        if (!this.server) {
          this.server = this.servers.find((server) =>
            server.name.toLowerCase().includes("pl")
          ).code;
        }
      });
    },
  },
  mounted() {
    this.getServers();
    this.interval = setInterval(() => {
      this.getServers();
    }, 5000);
  },
  beforeMount() {
    if (this.interval) {
      clearInterval(this.interval);
    }
  },
};
</script>
